{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Airplanes{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    Browse and add to airplanes that are in the Orcas Air fleet.
  </p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
          <!-- Iterate through each key in the first entry to get the
          column name -->
          {% for key in data[0].keys() %}
  
          <!-- Create a <th> tag with the key inside of it, this will be
          our header row -->
          <th scope="col">{{ key }}</th>
  
          <!-- End of this for loop -->
          {% endfor %}
          <th scope="col">Edit|Delete</th>
      </tr>
      <tbody>
  
      <!-- Now, iterate through every person in bsg_people -->
      {% for item in data %}
      <tr>
          <!-- Then iterate through every key in the current person dictionary -->
          {% for key in item.keys() %}
  
          <!-- Create a <td> element with the value of that key in it -->
          <td>{{item[key]}}</td>
          {% endfor %}
          <td>
              <a href="{{ url_for('edit_airplane', id=item.TailNumber) }}">
                  <i class="fa-solid fa-pen-to-square"></i>
              </a>
              |
              <a href="{{ url_for('delete_airplane', id=item.TailNumber) }}">
                  <i class="fa-solid fa-delete-left"></i>
              </a>
              
          </td>
      </tr>
      {% endfor %}
      </table>

      <h4>Add a New Airplane:</h4>

      <form id="insertAirplane" action="{{ url_for('airplanes') }}" method="post">
        <form id="editAirplane" action="{{ url_for('edit_airplane', id=data[0].TailNumber) }}" method="post">
          <div class="form-group">
            <label for=TailNumber> TailNumber </label>
            <input type="text" class="form-control" id="TailNumber" name="TailNumber" placeholder="Enter TailNumber">
          </div>

          <div class="form-group">
            <label for=Make> Make </label>
            <input type="text" class="form-control" id="Make" name="Make" placeholder="Enter Make">
          </div>

          <div class="form-group">
            <label for=Model> Model </label>
            <input type="text" class="form-control" id="Model" name="Model" placeholder="Enter Model">
          </div>

          <div class="form-group">
            <label for=Range> Range </label>
            <input type="number" class="form-control" id="Range" name="Range" placeholder="Enter Range">
          </div>

          <div class="form-group">
            <label for=FuelCapacity> FuelCapacity </label>
            <input type="number" class="form-control" id="FuelCapacity" name="FuelCapacity" placeholder="Enter FuelCapacity">
          </div>

          <div class="form-group">
            <label for=LastMaintenancePerformed> LastMaintenancePerformed </label>
            <input type="date" class="form-control" id="LastMaintenancePerformed" name="LastMaintenancePerformed" placeholder="Enter LastMaintenancePerformed">
          </div>
          
          <div class="form-group">
            <label for=MaintenanceFrequency> MaintenanceFrequency </label>
            <input type="number" class="form-control" id="MaintenanceFrequency" name="MaintenanceFrequency" placeholder="Enter MaintenanceFrequency">
          </div>  
      
          <input type="submit" name="Add_Airplane" value="Add Airplane" class="btn btn-primary">
        </form>
      </form>
  
{% endblock %}
