{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Customers{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    View the other customers that have chosen to fly with Orcas Air.
  </p>

  <table class="table">
    <thead class="thead-dark">
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% if data %}
          {% for key in data[0].keys() %}

          <!-- Create a <th> tag with the key inside of it, this will be
          our header row -->
          <th scope="col">{{ key }}</th>

          <!-- End of this for loop -->
          {% endfor %}
          <th scope="col">Edit|Delete</th>
        {% endif %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for item in data %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in item.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{item[key]}}</td>
        {% endfor %}
        <td>
            <a href="{{ url_for('edit_customer', id=item.CustomerID) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            |
            <a href="{{ url_for('delete_customer', id=item.CustomerID) }}">
                <i class="fa-solid fa-delete-left"></i>
            </a>
            
        </td>
    </tr>
    {% endfor %}
    </table>

    <h4>Add a New Customer:</h4>

    <form id="Add_Customer" action="{{ url_for('customers') }}" method="post">
      <div class="form-group">
        <label for=FirstName> First Name </label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Enter First Name" required>
      </div>
    
      <div class="form-group">
        <label for=LastName> Last Name </label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Enter Last Name" required>
      </div>
    
      <div class="form-group">
        <label for=AddressLine1> Address Line 1 </label>
        <input type="text" class="form-control" id="AddressLine1" name="AddressLine1" placeholder="Enter Address Line1" required>
      </div>
    
      <div class="form-group">
        <label for=AddressLine2> Address Line 2 </label>
        <input type="text" class="form-control" id="AddressLine2" name="AddressLine2" placeholder="Enter Address Line2">
      </div>
    
      <div class="form-group">
        <label for=City> City </label>
        <input type="text" class="form-control" id="City" name="City" placeholder="Enter City" required>
      </div>
    
      <div class="form-group">
        <label for=State> State </label>
        <input type="text" class="form-control" id="State" name="State" placeholder="Enter State" required>
      </div>
    
      <div class="form-group">
        <label for=ZIP_Code> ZIP Code </label>
        <input type="number" class="form-control" id="ZIP_Code" name="ZIP_Code" placeholder="Enter ZIP Code" required>
      </div>
    
      <div class="form-group">
        <label for=PhoneNumber> Phone Number </label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number" required>
      </div>
    
      <input type="submit" name="Add_Customer" value="Add Customer" class="btn btn-primary">
    </form>
{% endblock %}
