{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Customers{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    View the other customers that have chosen to fly with Orcas Air.
  </p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">ZIP Code</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Flight</th>
        <th scope="col">Edit|Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">John</th>
        <td>Smith</td>
        <td>1234 Holden Ave SW</td>
        <td>Seattle</td>
        <td>WA</td>
        <td>98425</td>
        <td>206-333-555</td>
        <td>SEA -> PDX 2022/04/22</td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
          |
          <i class="fa-solid fa-delete-left"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">James</th>
        <td>Polk</td>
        <td>80 Raging River Way</td>
        <td>Detroit</td>
        <td>MI</td>
        <td>48126</td>
        <td>313-918-5486</td>
        <td>SEA -> PDX 2022/04/22</td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
          |
          <i class="fa-solid fa-delete-left"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">Laura</th>
        <td>Croft</td>
        <td>640 Rainer Ave SW</td>
        <td>Belevue</td>
        <td>WA</td>
        <td>98248</td>
        <td>206-444-1288</td>
        <td>SEA -> PDX 2022/04/22</td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
          |
          <i class="fa-solid fa-delete-left"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <form>
    <div class="form-group">
      <label for="firstNameInput">First Name</label>
      <input type="datetime" class="form-control" id="firstNameInput" placeholder="Enter First Name">
    </div>
    <div class="form-group">
      <label for="lastNameInput">Last Name</label>
      <input type="datetime" class="form-control" id="lastNameInput" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
      <label for="addressInput">Address Line 1</label>
      <input type="text" class="form-control" id="addressInput" placeholder="Enter Address">
    </div>
    <div class="form-group">
      <label for="addressInput">City</label>
      <input type="text" class="form-control" id="addressInput" placeholder="Enter Address">
    </div>
    <div class="form-group">
      <label for="addressInput">State</label>
      <input type="text" class="form-control" id="addressInput" placeholder="Enter Address">
    </div>
    <div class="form-group">
      <label for="addressInput">ZIP Code</label>
      <input type="text" class="form-control" id="addressInput" placeholder="Enter Address">
    </div>
    <div class="form-group">
      <label for="phoneNumberInput">Phone Number</label>
      <input type="phone" class="form-control" id="phoneNumberInput" placeholder="Enter Phone Number">
    </div>
    <div class="form-group">
      <label for="flightInput">Flight</label>
      <select class="form-control" id="flightInput">
        <option>SEA -> PDX 2022/04/22</option>
      </select> 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
