{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Customer: {{data[0].CustomerID}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="editCustomer" action="{{ url_for('edit_customer', id=data[0].CustomerID) }}" method="post">
  <div class="form-group">
    <label for=FirstName> First Name: Current = {{data[0].FirstName}} </label>
    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Enter First Name" value={{data[0].FirstName}} required>
  </div>

  <div class="form-group">
    <label for=LastName> Last Name: Current = {{data[0].LastName}} </label>
    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Enter Last Name" value={{data[0].LastName}} required>
  </div>

  <div class="form-group">
    <label for=AddressLine1> Address Line 1: Current = {{data[0].AddressLine1}} </label>
    <input type="text" class="form-control" id="AddressLine1" name="AddressLine1" placeholder="Enter Address Line1" value={{data[0].AddressLine1}} required>
  </div>

  <div class="form-group">
    <label for=AddressLine2> Address Line 2: Current = {{data[0].AddressLine2}} </label>
    <input type="text" class="form-control" id="AddressLine2" name="AddressLine2" placeholder="Enter Address Line2" value={{data[0].AddressLine2}}>
  </div>

  <div class="form-group">
    <label for=City> City: Current = {{data[0].City}} </label>
    <input type="text" class="form-control" id="City" name="City" placeholder="Enter City" value={{data[0].City}} required>
  </div>

  <div class="form-group">
    <label for=State> State: Current = {{data[0].State}} </label>
    <input type="text" class="form-control" id="State" name="State" placeholder="Enter State" value={{data[0].State}} required>
  </div>

  <div class="form-group">
    <label for=ZIP_Code> ZIP Code: Current = {{data[0].ZIP_Code}} </label>
    <input type="number" class="form-control" id="ZIP_Code" name="ZIP_Code" placeholder="Enter ZIP Code" value={{data[0].ZIP_Code}} required>
  </div>

  <div class="form-group">
    <label for=PhoneNumber> Phone Number: Current = {{data[0].PhoneNumber}} </label>
    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number" value={{data[0].PhoneNumber}} required>
  </div>

  <input type="submit" name="Edit_Customer" value="Edit Customer" class="btn btn-primary">
</form>

{% endblock %}
