{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Pilot: {{data[0].PilotID}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="editPilot" action="{{ url_for('edit_pilot', id=data[0].PilotID) }}" method="post">
    {% for value in data[0] %}
        {% if value != "PilotID" %}
        <div class="form-group">
            <label for={{value}}>{{value}}: Current = {{data[0][value]}}</label>
            <input type="text" class="form-control" id="{{value}}" name="{{value}}" placeholder="Enter {{value}}" value={{data[0][value]}} required>
        </div>
        {% endif %}

    {% endfor %}

    <input type="submit" name="Edit_Pilot" value="Edit Pilot" class="btn btn-primary">
  </form>
{% endblock %}
