{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Flight: {{data[0].FlightID}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="editFlight" action="{{ url_for('edit_flight', id=data[0].FlightID) }}" method="post">
    <!-- Origin and Destination -->
    <div class="row">
      <div class="form-group col" >
        <label for="origin-select">Origin: Current = {{ data[0]['Origin'] }}</label>
        <select class="form-select" name="origin-select">
          {% for airport in airport_data %}
            {% if airport.AirportID == data[0]['Origin'] %} 
              <option value={{airport.AirportID}} selected>{{airport.AirportID}}, {{airport.Name}}</option>
            {% else %} 
              <option value={{airport.AirportID}}>{{airport.AirportID}}, {{airport.Name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group col">
        <label for="destination-select">Destination: Current = {{ data[0]['Destination'] }}</label>
        <select class="form-select" name="destination-select">
          {% for airport in airport_data %}
            {% if airport.AirportID == data[0]['Destination'] %} 
              <option value={{airport.AirportID}} selected>{{airport.AirportID}}, {{airport.Name}}</option>
            {% else %} 
            <option value={{airport.AirportID}}>{{airport.AirportID}}, {{airport.Name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col">
        <label for="Departure">Departure: Current = {{ data[0]['Arrival'] }}</label>
        <input type="datetime-local" class="form-control" id="Departure" name="Departure" placeholder="Enter Departure" value="{{data[0]['Departure']}}">
      </div>
      <div class="form-group col">
        <label for="Arrival">Arrival: Current = {{data[0]['Arrival']}}</label>
        <input type="datetime-local" class="form-control" id="Arrival" name="Arrival" placeholder="Enter Arrival" value="{{data[0]['Arrival']}}">
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        {% for pilot in pilot_data %}
            {% if pilot.PilotID == data[0]['Pilot'] %}
            <label for="pilot-select">Pilot: Current = {{ pilot.FirstName }}, {{ pilot.LastName }} </label>
            {% endif %}
        {% endfor %}
        <select class="form-select" name="pilot-select">
          {% for pilot in pilot_data %}
            {% if pilot.PilotID == data[0]['Pilot'] %}
              <option value={{pilot.PilotID}} selected>{{pilot.FirstName}}, {{pilot.LastName}}</option>
            {% else %} 
              <option value={{pilot.PilotID}}>{{pilot.FirstName}}, {{pilot.LastName}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group col">
        {% for pilot in pilot_data %}
          {% if pilot.PilotID == data[0]['CoPilot'] %}
            <label for="copilot-select">CoPilot: Current = {{ pilot.FirstName }}, {{ pilot.LastName }} </label>
          {% endif %}
        {% endfor %}
        <select class="form-select" name="copilot-select">
          {% for pilot in pilot_data %}
            {% if pilot.PilotID == data[0]['CoPilot'] %}
              <option value={{pilot.PilotID}} selected>{{pilot.FirstName}}, {{pilot.LastName}}</option>
            {% else %} 
              <option value={{pilot.PilotID}}>{{pilot.FirstName}}, {{pilot.LastName}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    
    <!-- Aircraft Select-->
    <div class="form-group">
      <label for="aircraft-select">Aircraft: Current = {{ data[0]['Aircraft'] }}</label>
      <select class="form-select" name="aircraft-select">
        {% for aircraft in aircraft_data %}
          {% if aircraft.TailNumber == data[0]['Aircraft'] %}
            <option value={{aircraft.TailNumber}} selected>{{aircraft.TailNumber}}: {{aircraft.Make}}, {{aircraft.Model}}</option>
          {% else %} 
            <option value={{aircraft.TailNumber}}>{{aircraft.TailNumber}}: {{aircraft.Make}}, {{aircraft.Model}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    
     <!-- Customer Select -->
     <label for="customer-select">Edit Customers (Current customers are checked by default)</label>

     {% for customer in customer_data %}
      {% if customer.CustomerID in flight_has_cust_data %} 
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{customer.CustomerID}}" id="{{customer.CustomerID}}" checked>
          <label class="form-check-label" for="customer.CustomerID">
            {{customer.FirstName}}, {{customer.LastName}}
          </label>
        </div>
      {% else %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{customer.CustomerID}}" id="{{customer.CustomerID}}">
          <label class="form-check-label" for="customer.CustomerID">
            {{customer.FirstName}}, {{customer.LastName}}
          </label>
        </div>
      {% endif %}
     {% endfor %}

    <br><br>
    <input type="submit" name="Edit_Flight" value="Edit Flight" class="btn btn-primary">
  </form>
{% endblock %}
