{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Flights w/ Customers{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    Flights that are available from Orcas Air and their respective customers.
  </p>
  <br>
  <h5>ToolTip: Click a Flight ID to filter customers by a specific flight!</h5>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Flight ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Edit Flight</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr>
            <td><a href="{{ url_for('indFlightsCustomers', flight_id=item.Flights_FlightID) }}">{{ item.Flights_FlightID }}</a></td>
            <td>{{ item.Customers_CustomerID }}</td>
            <td>
              {% for customer in customer_data %}
                {% if customer.CustomerID == item.Customers_CustomerID %}
                  {{ customer.FirstName }}, {{ customer.LastName }}
                {% endif %}
              {% endfor %}
            </td>
            <td>
              <a href="{{ url_for('edit_flight', id=item.Flights_FlightID) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
                         
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br/>
  <br/>
  <h5>Note: You can add/remove customers to/from flights in the flights page!</h5>

{% endblock %}
