{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Flights w/ Customers{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    Flights that are available from Orcas Air and their respective customers.
  </p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Flight ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Edit|Delete</th>
      </tr>
    </thead>
    <tbody>

      {% for item in data %}
        <tr>
            <td>{{ item.Flights_FlightID }}</td>
            <td>{{ item.Customers_CustomerID }}</td>
            <td>
              {{ customer_data[item.Customers_CustomerID - 1].fname }}, 
              {{ customer_data[item.Customers_CustomerID - 1].lname }}
            </td>
            <td>
                <a href="{{ url_for('edit_flight', id=item.Flights_FlightID) }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                |
                <a href="{{ url_for('delete_flight', id=item.Flights_FlightID) }}">
                    <i class="fa-solid fa-delete-left"></i>
                </a>
                
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br/>
  <br/>
  <p>Note: Values are inserted to this table when insertions are made to the Flights
    and Customers tables.
  </p>

{% endblock %}
