{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air Flights{% endblock %}</h1>
{% endblock %}

{% block content %}

{{ data }}
<br>
{{ customers }}
<br>
{{ fhc }}
<br>
<table class="table"e>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Flight Duration</th>
        <th scope="col">Pilot</th>
        <th scope="col">Copilot</th>
        <th scope="col">Aircraft</th>
        <th scope="col">Customers</th>
        <th scope="col">Edit|Delete</th>
    </tr>
    <tbody>

    {% for item in data %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        <td>{{ item.Origin }}</td>
        <td>{{ item.Destination }}</td>
        <td>{{ item.Departure }}</td>
        <td>{{ item.Arrival }}</td>
        <td>{{ item.FlightDuration }}</td>
        <td>{{ item.Pilot }}</td>
        <td>{{ item.Copilot }}</td>
        <td>{{ item.Aircraft }}</td>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>
            <a href="{{ url_for('edit_flight', id=item.FlightID) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            |
            <a href="{{ url_for('delete_flight', id=item.FlightID) }}">
                <i class="fa-solid fa-delete-left"></i>
            </a>
            
        </td>
    </tr>
    {% endfor %}
    </table>

    <h4>Add a New Flight:</h4>

    <form id="insertFlight" action="{{ url_for('flights') }}" method="post">
        {% for value in data[0] %}
          {% if value != "FlightID" %}
            <div class="form-group">
                <label for={{value}}>{{value}}</label>
                <input type="text" class="form-control" id="{{value}}" name="{{value}}" placeholder="Enter {{value}}">
            </div>
          {% endif %}
    
        {% endfor %}
    
        <input type="submit" name="Add_Flight" value="Add Flight" class="btn btn-primary">
      </form>
{% endblock %}
