{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air Flights{% endblock %}</h1>
{% endblock %}

{% block content %}


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Flight ID</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Flight Duration</th>
        <th scope="col">Pilot</th>
        <th scope="col">Copilot</th>
        <th scope="col">Aircraft</th>
        <th scope="col">Customers</th>
        <th scope="col">Edit|Delete</th>
    </tr>
    <tbody>

    {% for item in data %}
    <tr>
        <td>{{ item.FlightID }}</td>
        <td>{{ item.Origin }}</td>
        <td>{{ item.Destination }}</td>
        <td>{{ item.Departure }}</td>
        <td>{{ item.Arrival }}</td>
        <td>{{ item.FlightDuration }}</td>
        <!-- TODO: replace pilot id w/ pilot names -->
        <td>
          {{ pilot_data[item.Pilot - 1].FirstName }},
          {{ pilot_data[item.Pilot - 1].LastName }}
        </td>
        <td>
          {{ pilot_data[item.CoPilot - 1].FirstName }},
          {{ pilot_data[item.CoPilot - 1].LastName }}
        </td>
        <td>{{ item.Aircraft }}</td>
        <td><a href="{{ url_for('indFlightsCustomers', id=item.FlightID) }}">View Customers</a></td>
        <td>
            <a href="{{ url_for('edit_flight', id=item.FlightID) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            |
            <a href="{{ url_for('delete_flight', id=item.FlightID) }}">
                <i class="fa-solid fa-delete-left"></i>
            </a>
            
        </td>
    </tr>
    {% endfor %}
    </table>

    <h4>Add a New Flight:</h4>

    <!-- Selects for Origin and Destination -->
    <form id="insertFlight" action="{{ url_for('flights') }}" method="post">
      <div class="row">
        <div class="form-group col" >
          <label for="origin-select">Origin</label>
          <select class="form-select" name="origin-select">
            {% for airport in airport_data %}
            <option value={{airport.AirportID}}>{{airport.AirportID}}, {{airport.Name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col">
          <label for="destination-select">Destination</label>
          <select class="form-select" name="destination-select">
            {% for airport in airport_data %}
            <option value={{airport.AirportID}}>{{airport.AirportID}}, {{airport.Name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col">
          <label for="Departure">Departure</label>
          <input type="datetime-local" class="form-control" id="Departure" name="Departure" placeholder="Enter Departure">
        </div>
        <div class="form-group col">
          <label for="Arrival">Arrival</label>
          <input type="datetime-local" class="form-control" id="Arrival" name="Arrival" placeholder="Enter Arrival">
        </div>
      </div>

      <!-- TODO: Make sure the same pilot isn't selected for pilot and copilot -->
      <div class="row">
        <div class="form-group col">
          <label for="pilot-select">Pilot</label>
          <select class="form-select" name="pilot-select">
            {% for pilot in pilot_data %}
            <option value={{pilot.PilotID}}>{{pilot.FirstName}}, {{pilot.LastName}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col">
          <label for="copilot-select">CoPilot</label>
          <select class="form-select" name="copilot-select">
            {% for pilot in pilot_data %}
            <option value={{pilot.PilotID}}>{{pilot.FirstName}}, {{pilot.LastName}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      

      <!-- Aircraft Select-->
      <div class="form-group">
        <label for="aircraft-select">Aircraft</label>
        <select class="form-select" name="aircraft-select">
          {% for aircraft in aircraft_data %}
          <option value={{aircraft.TailNumber}}>{{aircraft.TailNumber}}: {{aircraft.Make}}, {{aircraft.Model}}</option>
          {% endfor %}
        </select>
      </div>



      <!-- Customer Select -->
      <label for="customer-select">Add Customers:</label><br>
      <select class="form-select" multiple id="customer-select" name="customer-select">
        {% for customer in customer_data %}
          <option value={{customer.CustomerID}}>{{customer.FirstName}}, {{customer.LastName}}</option>
        {% endfor %}
      </select>
      
      <br><br>
      <input type="submit" name="Add_Flight" value="Add Flight" class="btn btn-primary">
    </form>
{% endblock %}
