{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Flights w/ Customers{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    Flights that are available from Orcas Air and their respective customers.
  </p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Customers</th>
        <th scope="col">Edit|Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">SEA</th>
        <td>PDX</td>
        <td>2022/04/22 21:50:25</td>
        <td>2022/04/22 22:50:25</td>
        <td>
          John Smith,
          James Polk,
          Laura Croft
        </td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
          |
          <i class="fa-solid fa-delete-left"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <br/>
  <br/>
  <p>Note: Values are inserted to this table when insertions are made to the Flights
    and Customers tables.
  </p>

{% endblock %}
