{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orcas Air - Pilots{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
    Browse the pilots that are a part of the Orcas Air fleet.
  </p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Steve</th>
        <td>Morton</td>
        <td>222-356-8245</td>
      </tr>
      <tr>
        <th scope="row">John</th>
        <td>Woodward</td>
        <td>206-548-1255</td>
      </tr>
    </tbody>
  </table>

  <form>
    <div class="form-group">
      <label for="firstNameInput">First Name</label>
      <input type="datetime" class="form-control" id="firstNameInput" placeholder="Enter First Name">
    </div>
    <div class="form-group">
      <label for="lastNameInput">Last Name</label>
      <input type="datetime" class="form-control" id="lastNameInput" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
      <label for="phoneNumberInput">Phone Number</label>
      <input type="phone" class="form-control" id="phoneNumberInput" placeholder="Enter Phone Number">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
